root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
tab_width = 4

[Makefile]
indent_style = tab

[{*.sh, .aliases, .bash_profile, .bash_prompt, .bashrc, .export, ssh-keygen-ed25519, ssh-keygen-rsa, .zshrc}]
indent_style = tab
