#!/usr/bin/env bash

# Reload bash profile
alias sss="source ~/.bash_profile"

# Simulate OSX's pbcopy and pbpaste on other platforms.
if [ ! $(uname -s) = "Darwin" ]; then
    alias pbcopy='xclip -selection clipboard'
    alias pbpaste='xclip -selection clipboard -o'
fi