# shellcheck shell=bash

# Reload bash profile
alias sss="source ~/.bash_profile"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'
alias .........='cd ../../../../../../../..'
alias ..........='cd ../../../../../../../../..'
alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'
alias .6='cd ../../../../../..'
alias .7='cd ../../../../../../..'
alias .8='cd ../../../../../../../..'
alias .9='cd ../../../../../../../../..'
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
alias cdt='cd $(mktemp -d)'

# The alias is equivalent to the command in MS-DOS
# The command CLS has appeared as a clear screen command
# in many other BASIC dialects and command line interpreters,
# because of its familiarity through being included in MS-DOS.
alias cls='clear'

# List information aliases.
alias lf='ls -alF'
alias la='ls -al'
alias lah='ls -alh'
alias ll='ls -l'
alias llh='ls -lh'
alias l='ls -l'
alias lh='ls -lh'
alias lha='ls -lha'
alias lhf='ls -lhF'

# Simulate OSX's pbcopy and pbpaste on other platforms.
if [ ! "$(uname -s)" = "Darwin" ]; then
  alias pbcopy='xclip -selection clipboard'
  alias pbpaste='xclip -selection clipboard -o'
fi

# Show open ports, use netstat command to quickly
# list all TCP/UDP port on the server.
alias ports='netstat -tulanp'

# Commands top 30
top30() {
  local pattern="{print \$2}"
  [ "$1" = 2 ] && pattern="{print \$2\" \"\$3}"
  history | awk "${pattern}" | awk 'BEGIN {FS="|"} {print $1}' | sort |
    uniq -c | sort -rn | head -30
}
