# shellcheck shell=bash

# Make vim the default editor.
export EDITOR='vim'

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY="${HOME}/.node_history"
# Allow 32³ entries the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768'
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy'

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# Increase Bash history size. Allow 32³ entries the default is 500.
export HISTSIZE='32768'
export HISTFILESIZE="${HISTSIZE}"
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth'

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LANGUAGE="${LANG}:en_US:en"
export LC_ALL=

# Highlight section titles in manual pages.
# shellcheck disable=SC2154
export LESS_TERMCAP_md="${yellow}"

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -F -X -R'

# Tells 'less' not to paginate if less than a page.
export LESS="-F -X -R $LESS"

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
GPG_TTY="$(tty)"
export GPG_TTY

# Formatting file timestamps
# List timestamps in full using ISO 8601-like date, time, and time zone
# components with nanosecond precision, e.g.,
# ‘2019-06-17 15:42:47.750281859 +0300’.
# This style is equivalent to ‘+%Y-%m-%d %H:%M:%S.%N %z’.
# See https://www.gnu.org/software/coreutils/manual/html_node/Formatting-file-timestamps.html
export TIME_STYLE='full-iso'

# GOPATH can be any directory on your system. In Unix examples, we will set
# it to $HOME/go (the default since Go 1.8). Note that GOPATH must not be
# the same path as your Go installation.
# See https://github.com/golang/go/wiki/SettingGOPATH
export GOPATH="${HOME}/go"

# Add `$GOPATH/bin` to the `$PATH`
export PATH="${PATH}:${GOPATH}/bin"

# Postgres C API library.
export PATH="${PATH}:/usr/local/opt/libpq/bin"

# Add JetBrains tools to path.
export PATH="${PATH}:/Library/Application Support/JetBrains/Toolbox/scripts"

# Configure the preferred bash editor.
[ -x "$(command -v 'nano')" ] && export EDITOR='nano'
[ -x "$(command -v 'code')" ] && export EDITOR='code --wait'

# $ brew doctor
# Warning: Homebrew's "sbin" was not found in your PATH but you have installed
# formulae that put executables in /usr/local/sbin.
# Consider setting your PATH for example like so:
#   echo 'export PATH="/usr/local/sbin:$PATH"' >> ~/.zshrc
export PATH="/usr/local/sbin:$PATH"

# Disables the sending of telemetry by golang tools.
# https://github.com/golang/go/discussions/58409
export GOTELEMETRY=off

# Prevent Homebrew from collecting analytics.
export HOMEBREW_NO_ANALYTICS=1

# Means an ohmyzsh installer will not replace an existing .zshrc (default: no)
export KEEP_ZSHRC=yes
